<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light dark" />
        <link rel="stylesheet" href="pico.min.css">
        <title>Market</title>
      </head>
      <body>
        <main class="container">
            <section>
                <h1>Market</h1>
                <hr>
            </section>
            
        
          <div class="navbar">
              <ul>
                <li><a href="stock.html">Home</a></li>
                <li><a href="Account.html">Account</a></li>
              </ul>
              <hr>
              <p>Search for stocks below.</p>
          </div>
      
          <section>
              <form id="search-form">
                  <input type="text" id="stock" name="stock" placeholder="Citi" />
                  <input type="submit" value="Search" />
              </form>
          </section>

          <section class="container" hidden>
            <h2 id= SearchV >Search Results</h2>
        </section>

        <dialog id = login-dialog>
            <article>
                <form id="login-form">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="user" value="" />
                    <label for="password">Password</label>
                    <input type="text" id="password" name="pasword" value="" />
                </form>
            <form method="dialog" >
              <button>Log in</button>  or
             <button style="background-color:orange;" class="CRButton">Create account</button>
            </form>

            </article>
                
        </dialog>

        <dialog id = buy-dialog>
           <article>
               <form id="sell-form">
                   Your balance: <br>
                   Stock: <br>
                   Shares: <input type="number" name="" id="">
                   Price:<br>
                   Total:
               </form>
           <form method="dialog" >
             <button style="background-color: red;">Confirm</button>
             <button style="background-color: orange;">Cancel</button>
           </form>

           </article>
                
        </dialog>

        <dialog id = CR-dialog>
            <article>
                <form id="cr-form">
                    Email: <input type="text" id="email" name="email" value="" />
                    Username: <input type="text" id="username" name="user" value="" />
                    Password: <input type="text" id="pass" name="pass" value="" />
                    Confirm Password: <input type="text" id="repass" name="repass" value="" />
                </form>
            <form method="dialog" >
              <button ">Create account</button>
            </form>

            </article>
                
        </dialog>

        <section id="SearchStocks">
<!--            <article>-->
<!--                Stock name: <br> -->
<!--                Price: <br>-->
<!--                <br>-->
<!--                <button class="BuyButton">Buy</button>-->
<!--            </article>-->
           <article>
               Stock name: <br>
               Price: <br>
               <br>
               <button class="BuyButton">Buy</button>
           </article>
        </section>
        </main>
      </body>
    <script src="stock.js"></script>
</html>

<script>
    const loginDialog = document.querySelector("#login-dialog");
    const dialog = document.querySelector("#buy-dialog");
    const showButton = document.querySelector(".BuyButton");
    // const closeButton = document.querySelector("#login-dialog + button");

    // "Show the dialog" button opens the dialog modally
    showButton.addEventListener("click", () => {
        console.log("buy");
        dialog.showModal();
        loginDialog.showModal(); 
    });
 
    const dialogCR = document.querySelector("#CR-dialog");
    const showCRButton = document.querySelector(".CRButton");
    showCRButton.addEventListener("click", () => {
    dialogCR.showModal();
    }); 

</script>

  