<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light dark" />
        <link rel="stylesheet" href="pico.min.css">
        <title>Market</title>
      </head>
      <body>
        <main class="container">
            <h1>Hello world! - Market</h1>
        
          <div class="navbar">
              <ul>
                <li><a href="stock.html">Home</a></li>
                <li><a href="Account.html">Account</a></li>
              </ul>
          </div>
      
          <section>
              <form id="search-form">
                  <input type="text" id="stock" name="stock" placeholder="Citigroup Inc" />
                  <input type="submit" value="Search" />
              </form>
          </section>

          <section class="container">
            <h2>Search Results</h2>
        </section>

        <dialog id = login-dialog>
            <article>
                <form id="login-form">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="user" value="" />
                    <label for="password">Password</label>
                    <input type="text" id="password" name="pasword" value="" />
                </form>
            <form method="dialog" >
              <button>Log in</button>
            </form>

            </article>
                
        </dialog>

        <dialog id = buy-dialog>
<!--            <article>-->
<!--                <form id="sell-form">-->
<!--                    Your balance: <br>-->
<!--                    Stock: <br>-->
<!--                    Shares: <input type="number" name="" id="">-->
<!--                    Price:<br>-->
<!--                    Total:-->
<!--                </form>-->
<!--            <form method="dialog" >-->
<!--              <button style="background-color: red;">Confirm</button>-->
<!--              <button style="background-color: orange;">Cancel</button>-->
<!--            </form>-->

<!--            </article>-->
                
        </dialog>

        <section id="SearchStocks">
<!--            <article>-->
<!--                Stock name: <br> -->
<!--                Price: <br>-->
<!--                <br>-->
<!--                <button class="BuyButton">Buy</button>-->
<!--            </article>-->
<!--            <article>-->
<!--                Stock name: <br> -->
<!--                Price: <br>-->
<!--                <br>-->
<!--                <button class="BuyButton">Buy</button>-->
<!--            </article>-->
        </section>
        </main>
      </body>
    <script src="stock.js"></script>
</html>

<script>
    const loginDialog = document.querySelector("#login-dialog");
    const dialog = document.querySelector("#buy-dialog");
    const showButton = document.querySelector(".BuyButton");
    // const closeButton = document.querySelector("#login-dialog + button");

    // "Show the dialog" button opens the dialog modally
    showButton.addEventListener("click", () => {
        console.log("buy");
        dialog.showModal();
        loginDialog.showModal();
    });

    

</script>

  