<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="pico.min.css">
    <title>Stocks</title>
  </head>
  <body>
    <dialog id="login-dialog" modal>
        <article>
            <header>
                <button rel="prev" aria-label="Close"></button>
                <p>Log in</p>
            </header>
        </article>
    </dialog>
    <main class="container">
      <h1>Hello world!</h1>
   
    <div class="navbar">
        <ul>
          <li><a href="Market.html">Market</a></li>
          <li><a href="Account.html">Account</a></li>
        </ul>
    </div>

    <section>
        <h2>About: 
            
        </h2>
    </section>

    
    </main>
  </body>
</html>