<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="pico.min.css">
    <title>Stocks</title>
  </head>
  <body>
    <dialog id="login-dialog" modal>
        <article>
            <header>
                <button rel="prev" aria-label="Close"></button>
                <p>Log in</p>
            </header>
        </article>
    </dialog>
    <main class="container">
      
    <section>
        <h1>Welcome!</h1>
        <hr>
        <p>Manage your stock portfolio with us! You can search for and buy stocks through the Market tab. In the Account tab you can manage your portfolio, you can check your balance and sell stocks. Lets start!</p>
    </section>
    <div class="navbar">
        <ul>
          <li><a href="Market.html">Market</a></li>
          <li><a href="Account.html">Account</a></li>
        </ul>
        <hr>
    </div>

    

    
    </main>
  </body>
</html>